.buttons_Stat{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
