.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    gap:30px;
}

.list>li{
    border:solid 1px white;
    cursor:pointer;
    text-align: center;
    font-size:18px;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &:hover{
        scale:1.02;
    }
}